.vscode/settings.json
build/BackgroundSubtractorConfig.cmake
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/libBackgroundSubtractor.so
build/Makefile
build/BackgroundSubtractor_autogen/moc_predefs.h
build/BackgroundSubtractor_autogen/mocs_compilation.cpp
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.15.5/CMakeCCompiler.cmake
build/CMakeFiles/3.15.5/CMakeCXXCompiler.cmake
build/CMakeFiles/3.15.5/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.15.5/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.15.5/CMakeSystem.cmake
build/CMakeFiles/3.15.5/CompilerIdC/a.out
build/CMakeFiles/3.15.5/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.15.5/CompilerIdCXX/a.out
build/CMakeFiles/3.15.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/BackgroundSubtractor.dir/build.make
build/CMakeFiles/BackgroundSubtractor.dir/cmake_clean.cmake
build/CMakeFiles/BackgroundSubtractor.dir/CXX.includecache
build/CMakeFiles/BackgroundSubtractor.dir/depend.internal
build/CMakeFiles/BackgroundSubtractor.dir/depend.make
build/CMakeFiles/BackgroundSubtractor.dir/DependInfo.cmake
build/CMakeFiles/BackgroundSubtractor.dir/flags.make
build/CMakeFiles/BackgroundSubtractor.dir/link.txt
build/CMakeFiles/BackgroundSubtractor.dir/progress.make
build/CMakeFiles/BackgroundSubtractor.dir/BackgroundSubtractor_autogen/mocs_compilation.cpp.o
build/CMakeFiles/BackgroundSubtractor.dir/src/backgroundsubtractor.cc.o
build/CMakeFiles/BackgroundSubtractor.dir/src/subtractors/basesubtractor.cc.o
build/CMakeFiles/BackgroundSubtractor.dir/src/subtractors/opencv_cnt.cc.o
build/CMakeFiles/BackgroundSubtractor.dir/src/subtractors/opencv_gmg.cc.o
build/CMakeFiles/BackgroundSubtractor.dir/src/subtractors/opencv_gsoc.cc.o
build/CMakeFiles/BackgroundSubtractor.dir/src/subtractors/opencv_knn.cc.o
build/CMakeFiles/BackgroundSubtractor.dir/src/subtractors/opencv_lsbp.cc.o
build/CMakeFiles/BackgroundSubtractor.dir/src/subtractors/opencv_mog.cc.o
build/CMakeFiles/BackgroundSubtractor.dir/src/subtractors/opencv_mog2.cc.o
build/CMakeFiles/BackgroundSubtractor.dir/src/subtractors/user_none.cc.o
build/CMakeFiles/BackgroundSubtractor_autogen.dir/AutogenInfo.cmake
build/CMakeFiles/BackgroundSubtractor_autogen.dir/AutogenOldSettings.txt
build/CMakeFiles/BackgroundSubtractor_autogen.dir/build.make
build/CMakeFiles/BackgroundSubtractor_autogen.dir/cmake_clean.cmake
build/CMakeFiles/BackgroundSubtractor_autogen.dir/depend.internal
build/CMakeFiles/BackgroundSubtractor_autogen.dir/depend.make
build/CMakeFiles/BackgroundSubtractor_autogen.dir/DependInfo.cmake
build/CMakeFiles/BackgroundSubtractor_autogen.dir/ParseCache.txt
build/CMakeFiles/BackgroundSubtractor_autogen.dir/progress.make
build/CMakeFiles/Export/share/BackgroundSubtractor/cmake/BackgroundSubtractorConfig-debug.cmake
build/CMakeFiles/Export/share/BackgroundSubtractor/cmake/BackgroundSubtractorConfig.cmake
build/CMakeFiles/Progress/1
build/CMakeFiles/Progress/2
build/CMakeFiles/Progress/3
build/CMakeFiles/Progress/4
build/CMakeFiles/Progress/5
build/CMakeFiles/Progress/6
build/CMakeFiles/Progress/7
build/CMakeFiles/Progress/8
build/CMakeFiles/Progress/9
build/CMakeFiles/Progress/10
build/CMakeFiles/Progress/11
build/CMakeFiles/Progress/12
build/CMakeFiles/Progress/13
build/CMakeFiles/Progress/14
build/CMakeFiles/Progress/15
build/CMakeFiles/Progress/16
build/CMakeFiles/Progress/17
build/CMakeFiles/Progress/count.txt
build/example/cmake_install.cmake
build/example/Makefile
build/example/CMakeFiles/CMakeDirectoryInformation.cmake
build/example/CMakeFiles/progress.marks
build/example/CMakeFiles/MIFExample.dir/build.make
build/example/CMakeFiles/MIFExample.dir/cmake_clean.cmake
build/example/CMakeFiles/MIFExample.dir/CXX.includecache
build/example/CMakeFiles/MIFExample.dir/depend.internal
build/example/CMakeFiles/MIFExample.dir/depend.make
build/example/CMakeFiles/MIFExample.dir/DependInfo.cmake
build/example/CMakeFiles/MIFExample.dir/flags.make
build/example/CMakeFiles/MIFExample.dir/link.txt
build/example/CMakeFiles/MIFExample.dir/progress.make
build/example/CMakeFiles/MIFExample.dir/MIFExample_autogen/mocs_compilation.cpp.o
build/example/CMakeFiles/MIFExample.dir/src/main.cc.o
build/example/CMakeFiles/MIFExample_autogen.dir/AutogenInfo.cmake
build/example/CMakeFiles/MIFExample_autogen.dir/AutogenOldSettings.txt
build/example/CMakeFiles/MIFExample_autogen.dir/build.make
build/example/CMakeFiles/MIFExample_autogen.dir/cmake_clean.cmake
build/example/CMakeFiles/MIFExample_autogen.dir/depend.internal
build/example/CMakeFiles/MIFExample_autogen.dir/depend.make
build/example/CMakeFiles/MIFExample_autogen.dir/DependInfo.cmake
build/example/CMakeFiles/MIFExample_autogen.dir/ParseCache.txt
build/example/CMakeFiles/MIFExample_autogen.dir/progress.make
build/example/MIFExample_autogen/moc_predefs.h
build/example/MIFExample_autogen/mocs_compilation.cpp
build/BackgroundSubtractor
build/CMakeFiles/CMakeError.log
build/CMakeFiles/BackgroundSubtractor.dir/src/main.cc.o
build/CMakeFiles/BackgroundSubtractor.dir/home/gmatczak/Dropbox/Programowanie/C++/QT/IncludeSpdlog/spdlog.cc.o
build/CMakeFiles/BackgroundSubtractor.dir/home/gmatczak/Dropbox/Programowanie/C++/QT/QtGeneticOptimization/IncludeSpdlog/spdlog.cc.o
